bin
**/*.test
.vscode
**/osscatimporter-ro-*
**/osscatimporter-rw-*
**/osscatpublisher-ro-*
**/osscatpublisher-rw-*
cmd/osscatimporter/debug
cmd/osscatviewer/debug
cmd/osscatviewer/osscatviewer
cmd/osscatviewer/vendor
cmd/osscatviewer/vendor/*
cmd/osscatviewer/vendor.NO/*
cmd/osscatviewer/Godeps
cmd/osscatviewer/Godeps/*

.DS_Store

*.out
unittest.xml
coverage.xml